@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Nunito&display=swap');




#header-img
{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    padding-top: 15px;
}

#logo-titre
{
    font-family: 'Hepta Slab', monospace;
    display: flex;
    flex-direction: row;
    
}

#logo-titre h2
{
    position: relative;
    top: 3px;
}

#nav-bar
{
    padding-top: 27px;

    
    width: 60%;
    display: flex;
    justify-content: right;
}

.nav-link
{
    font-family: 'Numito', monospace;
    
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-top:-5px;
    transition-duration: 0.8s;

    height: 1.4em;
}

.nav-link:hover
{
    background-color: #EEEEECFF;
    border-radius: 5px;
   
    box-shadow: 3px 3px 6px #EEEEECFF;
}

body
{
    text-align: center;
    font-family: 'Numito', monospace;
}

[type="submit"]
{
    margin-top: 10px;
    background-color: yellow;
    border:none;
    border-radius: 5px;

    padding: 10px;
}

#main
{
    width: 66%;
    position: relative;
    top: 90px;
    left: 16%;
}

.sectionArme
{
    display: flex;
    text-align: left;
    margin-top: 30px;
    width: 100%;
    text-align: justify;

}

.sectionArme p
{
    margin-top: -8px;
}

#sectionLG
{
    margin-left: -20px;
}

#imgPique
{
    width: 5%;
    height: 5%;

    position: relative;
    top:8px;
    left: -10px;
}
#imgLG
{
    width: 8%;
    height: 8%;
    position: relative;
    top:20px;
    left: -10px;
}

iframe
{
    margin-top: 70px;
}

header
{
    margin: -20px 25px 15px 2%;
    position: fixed;

    width: 93%;
    /*top: -20px;
    left: 60px;*/
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

    
}

#prixPart
{
    margin-top: 50px;
    display: flex;

}

.kit
{
    border: 1px solid black;
    border-radius: 3px;

    width: 30%;

    
    
    margin: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.kit h5
{
    background-color: #EEEEECFF;
    position: relative;
    top:-22px;

    padding-top: 12px;
    padding-bottom: 12px;
}

.kit p
{
    padding-left: 40px;
    padding-right: 40px;

    text-align: justify;

    flex: 1;
}

.kitButton
{
    margin: 15px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

ul
{
    text-align: left;
}

li
{
    margin-bottom: 5px;
}

.boutonJaune
{
    transition-duration: 0.8s;
}

.boutonJaune:hover
{
    background-color: #FEAB30FF;
    cursor: pointer;
}

@media (max-width: 800px) {
    #prixPart
    {
        flex-direction: column;
    }

    #nav-bar
    {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
}
